<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Car Lot</title>
</head>
<body>
  <h1>Car Lot Inventory</h1>
  <a href="/cars/new">Add a car</a>
  <a href="/cars">View all cars</a>
</body>
</html>